// styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()

// ******************************************************

// BOWER LIBRARY

@import 'library'

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-white-trans = rgba(255, 255, 255, .9)
$color-grey = rgb(200, 200, 200)

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black

img
  max-width: 100%
  height: auto

.text-cols-no-break
  li, p
    -webkit-column-break-inside: avoid
    page-break-inside: avoid
    break-inside: avoid-column
    display: table

.section-border-bottom
  border-bottom: 1px solid $color-grey

// ******************************************************

// HEADER

#header
  background-color: $color-white-trans
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 900

// ******************************************************

// INFO

#contact-map
  iframe
    width: 100%
    filter: saturate(0)

// ******************************************************

// HOME

.home-work-item
  opacity: 0
  transition: opacity .2s

.home-work-contents
  position: relative

.home-work-image
  position: relative
  display: block

.home-work-details
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $color-white
  border: 1px solid $color-black
  opacity: 0

#saturation-filter
  position: fixed
  bottom: 0
  left: 0
  width: 100vw
  height: 90vh
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%)
  mix-blend-mode: color
  pointer-events: none
  z-index: 200

// ******************************************************

// FOOTER

#footer
  line-height: 1

#site-logo
  display: block
  path, polygon
    fill: $color-black

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 14px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, .65)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-sizes($font-size-basic, .7)

  .mobile-only
    display: none

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 15px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, .9)

  .desktop-only
    display: initial

  @import 'responsive/desktop'

@media screen and (min-width: 1280px)

  $font-size-basic = 15px

  font-sizes($font-size-basic)

  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  $font-size-basic = 16px

  font-sizes($font-size-basic)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)
