@font-face {
	font-family: 'AlverataInformal';
	src: url('fonts/AlverataInformal/AlverataInformalW01-Bold.eot');
	src: url('fonts/AlverataInformal/AlverataInformalW01-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AlverataInformal/AlverataInformalW01-Bold.woff') format('woff'),
		url('fonts/AlverataInformal/AlverataInformalW01-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
