// VARIABLES

$header-height = 82px
$header-height-info = 105px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

body.page-info
  #main-content
    margin-top: $header-height-info

// ******************************************************

// HEADER

#main-nav
  li
    margin: 0 $margin-tiny

#info-nav
  li
    margin: 0 $margin-micro

// ******************************************************
