// VARIABLES

$header-height = 100px
$header-height-info = 123px

// ******************************************************

// BASIC

#main-content
  margin-top: $header-height

body.page-info
  #main-content
    margin-top: $header-height-info

// ******************************************************

// HEADER

#main-nav
  li
    margin: 0 $margin-tiny

#info-nav
  li
    margin: 0 $margin-micro

// ******************************************************

// FOOTER

#site-logo
  height: 26px
  margin-top: 2px

// ******************************************************
